.clockface {
    height: 128px;
    width: 128px;
    position: relative;
}

.clockface > * {
    position: absolute;
    top: 0;
    left: 0;
    height: 128px;
    width: 128px;
}
.clockface img {
    display: block;
    height: 128px;
    width: 128px;
}

